@media (min-width:375px){
    .hide{
    display:none !important;
}


body{
    width:1440px;
    height:100%;
    margin:0;
}

.end{
    position:absolute;
    bottom:0px;
    margin-bottom: 0%;
    margin-left: 0%;
    width:610px;
    height:158px;
    background-image: url('..\\images\\pattern-curve.svg');
}
.main{
    position:relative;
    margin-left: 730px;
    margin-bottom:0px;
    margin-top: 25px;
    height:100%;

}

.quotes{
   
     position: absolute;
        top: 45%;
        left:-49px;
        transform: translate(-80%, -50%);
  
}
.image-quote{
    position: absolute;
    left:14.5%;
    top:10%;
    border-radius: 0 ;
    width:120px;
    height:100px;
    background-image: url('..\\images\\pattern-quotes.svg');
    
}

.tanya{
        height:540px;
        width:540px;
        position: absolute;
        top: 51%;
        left: 21%;
        padding-bottom: 0;
        border-radius: 10px;
        margin-bottom: 0;;
        transform: translate(-15%, -50%);
        background-image:url('..\\image-tanya.jpg')
        
  
      
}
.image{
    height:540px;
    position: absolute;
    top: 51%;
    left: 21%;
    padding-bottom: 0;
    margin-bottom: 0;;
    transform: translate(-15%, -50%);
    

  
}
.tanya img{
    border-radius: 10px;

}
.john{
    height:540px;
    width:540px;
    position: absolute;
    top: 51%;
    left: 21%;
    padding-bottom: 0;
    border-radius: 10px;
    margin-bottom: 0;;
    transform: translate(-15%, -50%);
    background-image:url('..\\image-john.jpg')
    

  
}




.content{
    margin-top: 0px;
    padding-top: -10px;
    left:10%;
    width:640px;
}
.content h3{
    
   padding-top: 70px;
    font-family:'Inter', sans-serif;
    font-size: 32px;
    padding-left: 7px;
    font-weight: 300, 500, 700;
    color:hsl(240, 38%, 20%);
    
   

}
.content h4{
    

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 1px;
   
}
.buttons{
    width:70px;
    height:35px;
    margin-left:135px;
    position: absolute;
    top: 100%;
    background-color: white;
    transform: translate(-80%, -50%);
    box-shadow: 0px 10px 5px rgb(103, 102, 102);
    border-radius: 20px;

    
    
}
    
button{
    padding-top: 15%;
    height:30px;
    border:none;
    width:32px;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
    
}
.buttons .prev__button{
    background-image: url('..\\images\\icon-prev.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.buttons .next__button{
    background-image: url('..\\images\\icon-next.svg');
    background-repeat: no-repeat;
    background-position: center;
}
button :hover{
    background-color: grey;
}
}

@media (max-width:250px )
{
    .hide{
        display:none !important;
    }
    body{
        width:250px;
        height:100%;
        margin:0;
    }
    
     .main{
        position:relative;
        padding-left:20px;
        margin-top:0px;
        height:100%;
        padding-top:30px;
        width:375px;
    
    }
    .main img{
        height:350px;
        width:240px;
    }
    .tanya {
        height:290px;
        width:280px;
        position: absolute;
        top: 54.5%;
        left: 22%;
        transform: translate(-15%, -50%);
        border-radius: 10px;
        background-size: cover;
        background-image:url('..\\image-tanya.jpg')
        
        
    }
    .john{
        height:290px;
        width:280px;
        position: absolute;
        top: 54.5%;
        left: 22%;
        transform: translate(-15%, -50%);
        border-radius: 10px;
        background-size: cover;
        background-image:url('..\\image-john.jpg')
        
    
    }

        .buttons{
            width:70px;
            height:35px;
            margin-left:160px;
            position:relative;
            top: 100%;
            background-color: white;
            transform: translate(-80%, -50%);
            box-shadow: 0px 10px 5px rgb(103, 102, 102);
            border-radius: 20px;
        
            
            
        }
            
        button{
            padding-top: 15%;
            height:30px;
            border:none;
            width:32px;
            background-color: white;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            
            
        }
        .quotes{
   
            position: absolute;
               top: 150%;
               left:80%;
               transform: translate(-80%, -50%);
         
       }
       .image-quote{
        position: absolute;
        left:40%;
        top:10%;
        border-radius: 0 ;
        width:60px;
        height:50px;
        background-size: cover;
        background-image: url('..\\images\\pattern-quotes.svg');
        
    }
       .content{
        margin-top: 0px;
        padding-top: -10px;
        left:100%;
        width:300px;
        height:200px;
    }

    .content h3{
        
       padding-top: 30px;
        font-family:'Inter', sans-serif;
        font-size: 18px;
        padding-left: 7px;
        font-weight: 300, 500, 700;
        color:hsl(240, 38%, 20%);
        text-align:center;
        
       
    
    }
    .content h4{
        
    
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        padding-left: 10px;
        text-align: justify;
       
    }
        .buttons .prev__button{
            background-image: url('..\\images\\icon-prev.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
        .buttons .next__button{
            background-image: url('..\\images\\icon-next.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
        button :hover{
            background-color: grey;
        }
        .end{
            position:absolute;
            bottom:0px;
            margin-bottom: 0%;
            margin-left: 0%;
            width:375px;
            height:80px;
            background-image: url('..\\images\\pattern-curve.svg');
            background-size: cover;
            
        }
} 
